# IDE related
.idea/

# SQLite database
src/db.sqlite3

# Virtual environment
venv/

# Database files
src/data/db/*
src/manager/__pycache__/
src/Flow/__pycache__/
src/authentication/__pycache__/

# SSL
src/ssl

# env files
src/.dbenv
