{% extends 'base.html' %}

{% block title %}Dawan | Login{% endblock %}

{% block content %}
{% load static %}
<div class="login-page">
    <div class="form-container glass">
        <div class="header-container">
            <div>
                <h2>Connectez-vous</h2>
                <h3>Entrez vos identifiants</h3>
            </div>
            <img src="{% static 'images/logo.png' %}" alt="Logo de l'entreprise" class="logo">
        </div>

        <form method="post">
            {% csrf_token %}
            <div class="input-field">
                <input id="username" type="text" name="{{ form.username.html_name }}" placeholder="Identifiant" required>
            </div>
            <div class="input-field">
                <input id="password" type="password" name="{{ form.password.html_name }}" placeholder="Mot de passe" required>
            </div>
            <button class="btn-login" type="submit">Connexion</button>
        </form>

        <p><a href="{% url 'register' %}" class="register-link">Créer un compte</a></p>
    </div>
</div>

{% block messages %}
    {% if messages %}
        {% for message in messages %}
            {% if message.tags == 'success' %}
            <p class="message success-message">{{ message }}</p>
            {% elif message.tags == 'error' %}
            <p class="message error-message">{{ message }}</p>
            {% endif %}
        {% endfor %}
    {% endif %}
{% endblock %}

{% endblock %}
